/* Navigations.css */

nav {
    background-color: #08245c;
    padding: 1rem; /* Padding around the nav */
  }
  
  .navigation {
    display: flex; /* Use flexbox for spacing */
    justify-content: space-between; /* Space out links evenly */
    align-items: center; /* Center align items vertically */
  }
  
  .navigation h1 {
    color: white; /* Change the header text color to white */
    margin: 0; /* Remove default margin */
  }
  
  .navigation div {
    display: flex; /* links container */
    gap: 15px; /* space between links */
  }
  
  .navigation a {
    color: white; /* links */
    text-decoration: none; /* remove underline from links */
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .navigation a:hover {
    background-color: #61dafb; /* background on hover */
  }